<main class="contenedor">
  <form action="/iniciar-sesion" method="POST" class="default-form">
    <div class="campo"> 
      <label>Email</label>
      <input type="email" name="email" placeholder="seu email" required>
    </div>
    <div class="campo"> 
      <label>Senha</label>
      <input type="password" name="password" placeholder="sua senha" required>
    </div>
    <div class="campo acciones">
      <a href="/crear-cuenta">Crie sua conta</a>
      <a href="/reestablecer-password">Esqueci a senha!</a>
    </div>
    <div class="campo">
      <input type="submit" value="Iniciar Sessão" class="btn btn-azul">
    </div>
  </form>
</main>