<main class="contenedor">
    <form method="POST" class="default-form">
        <div class="campo">
            <label>Nova Senha</label>
            <input type="password" name="password" placeholder="Nova Senha" required>
        </div>
        <div class="campo">
            <input type="submit" value="Atualizar Senha" class="btn btn-azul">
        </div>
    </form>
</main>