<h1 style="text-align:center; 
        font-family: Arial, Helvetica;
    "Recuperar Senha</h1>
    
    <p style="font-family: Arial, Helvetica;">Olá, para recuperar ou alterar sua senha, clique no link a seguir. Esse link tem prazo de vencimento, e se passar do prazo será necessário solicitar outro email.</p>
    
    <a style="
        display:block; 
        font-family: Arial, Helvetica;
        padding: 1rem; 
        background-color: #00C897; 
        color:white; 
        text-transform:uppercase; 
        text-align:center;
        text-decoration: none;"
    href="{{resetUrl}}">Recuperar ou alterar senha</a>
    
    <p style="font-family: Arial, Helvetica;">Se não puder acessar este link, visite: {{resetUrl}}</p>
    <p style="font-family: Arial, Helvetica;">Se você não solicitou este e-mail, pode ignorá-lo.</p>